.custom-marker {
  background-color: darkblue;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.loading-marker {
  background-color: transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

  color: rgba(255, 255, 255, 0.87);
  background-color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4747b2;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  background-color: #f3d700;
  color: #333;
}